.Deck-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    max-width: 100%;
    
}

.Deck-items{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 95vw;
}

.Deck-page h1 {
    font-size: 100px;
}
.Deck-list {
    width: 90%;
}